.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#clear {
  grid-area: clear;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#equals {
  grid-area: equals;
}

#decimal {
  grid-area: decimal;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#display {
  grid-area: display;
  background-color: #282c34;
  color: white;
  text-align: right;
  padding-right: 0.5em;
}

#expression {
  grid-area: expression;
  background-color: #282c34;
  color: white;
  text-align: right;
  padding-right: 0.5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: 25px 25px repeat(5, 50px);
  grid-template-areas:
    "expression expression expression expression"
    "display display display display"
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  margin: 10vh auto;
  justify-content: center;
}
